
      <!-- view -->
      <!-- top panel button -->
      <div class="row">
        <div class="col-xs-12" style="opacity: 1.0; text-align: center; border-style: solid;"><a href="#/" role="button">{{topPanel}}</a>
        </div>
      </div>
      <!-- Body of page -->
      <div class="row bodyRow">
        <!-- left column -->
        <div class="col-xs-1" id="sidePan"><a id="leftNavB" href="#/{{leftURL}}" role="button">{{leftPanel}}</a></div>
        <!-- middle body -->
        <div class="col-xs-10" id="bodyBlock">
          <h3>About "Time to Share":</h3>
          <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">What is "Time to Share"?</h3>
          </div>
          <div class="panel-body">
            <p>"Time to Share" is a "Time Banking" application. "Time Banking" is a way to invest in your loacal community. It allows one person to offer or recieve a service inexchange for "time credits". A "time credit" if a form of currency that is based on time. One time credit is worth 15 minutes.</p>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Why is "Time to Share" important?</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>Lower residentail and economic segregation.</li>
              <li>Stop the devaluation of skills and trades.</li>
              <li>Prevent seclusion and loneliness.</li>
            </ul> 
          </div>
        </div>
        	
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Who should care about "Time to Share"?</h3>
          </div>
          <div class="panel-body">
            <p>Every One! A community is only as strong as its weakest link and helps everyong involved.</p>
          </div>
        </div>
        	
        </div>
        <!-- right column -->
        <div class="col-xs-1" id="sidePan"><a id="rightNavB" href="#/{{rightURL}}" role="button">{{rightPanel}}</a></div>
      </div>
      <!-- bottom panel button -->
      <div class="row">
        <div class="col-xs-12" id="bottomPan"><a id="bottomNavB" href="#/{{bottomURL}}" role="button">{{bottomPanel}}</a></div>
      </div>
