
    <!-- view -->
      <!-- top panel button -->
      <div class="row">
        <div class="col-xs-12" style="opacity: 1.0; text-align: center; height:100%;">
          <a href="#/" role="button">{{topPanel}}</a>
            
        </div>
      </div>
      <!-- Body of page -->
      <div class="row bodyRow">
        <!-- left column -->
        <div class="col-xs-1" id="sidePan"><a id="leftNavB" href="#/{{leftURL}}" role="button">{{leftPanel}}</a>
      </div>
      <!-- middle body -->
        <div class="col-xs-10" id="bodyBlock" style=" height:100%; border-style: solid; text-align: center; ">
          <div style="margin-top: 20%;">
              <h1>Time to Share</h1>
              <p>Every menmber of a community is like a brick in a wall. With every brick holding its weight the wall will stand strong.</p>
          </div>
          
        </div>
        <!-- right column -->
        <div class="col-xs-1" id="sidePan" ><a id="rightNavB" href="#/{{rightURL}}" role="button">{{rightPanel}}</a></div>
      </div>
      <!-- bottom panel button -->
      <div class="row" style="height:5%">
        <div class="col-xs-12" id="bottomPan"><a id="bottomNavB" href="#/{{bottomURL}}" role="button">{{bottomPanel}}</a></div>
      </div>

  

 

  
  

